body {
    background-color: rgb(250, 238, 227);
  }
  
  h1,li,h2,img,p{
    color: rgb(61, 23, 2);
    margin-left: 250px;
  }
  svg{
   
    margin-left: 100px;
  }

  .container {
    display: grid;
    grid-template-columns: 50% auto;
    padding: 10px;
    grid-column-gap: 50px;
    grid-row-gap: 20px;

  }