*{
  box-sizing: border-box;
}



body{
  padding :auto;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
  font-size: 16px;
}

header,footer,main,nav{
  margin: 20px auto;
  padding: auto;
  max-width: 600px;
}

header,footer,main,h2,p{
  text-align: center;
}


.grid-container {
  display: grid;
  grid-template-columns: 50% auto;
  padding: 10px;
  grid-column-gap: 50px;
  grid-row-gap: 50px;
}

.imagecontainer {display: flex;}

img {flex: 100%;
max-width: 100%;
padding-left: auto;
padding-right: auto;
margin-left: auto;
margin-right: auto}
img {
  border: 1px solid #555;
}