*{
  box-sizing: border-box;
}



body {
  
  color: #010000;
  background-color: white;    /* white */
  font-size: 16px;
  font-family: "Helvetica", Arial, sans-serif;
  font-style: normal;
  padding: 150px 150px;

}

header,main,nav{
  margin: 20px auto;
  padding: auto;
  max-width: 600px;
}
footer{
  margin: 50px;
  padding: 50px;
  max-width: 600px;
}
header,footer,main,h2,p{
  text-align: center;
  align-content: center;
}


.grid-container {
  display: grid;
  grid-template-columns: 50% auto;
  padding: 10px;
  grid-column-gap: 50px;
  grid-row-gap: 50px;
}

.imagecontainer {display: flex;}

img {flex: 100%;
max-width: 100%;
padding-left: auto;
padding-right: auto;
margin-left: auto;
margin-right: auto}
img {
  border: 1px solid #555;
}
.flex-container {
  display: flex;
  flex-direction: row;
}

/* Responsive layout - makes a one column layout instead of a two-column layout */
@media (max-width: 800px) {
  .flex-container {
    flex-direction: column;
  }
}

